<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="img">
      <img src="../../../assets/imgs/Barbie-Logo-1975-1991.png" alt="Logo barbie">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="txt">
    <ion-title>Parabéns</ion-title>
  </div>
  <div class="container">
    <div class="prb">
      <img src="../../../assets/imgs/Confidencial/1740337207806.jpg" alt="">
      <p><span>Passando aqui para desejar os parabéns da pessoa mais incrível do mundo! </span><br>
        Uma pessoa que chegou para <span>mudar minha vida</span> de uma forma única. Hoje você está ficando mais <span>velhinha</span> 🥳🥳, e eu quero desejar tudo de bom!
        <br>
        <br>
        Que <span>Deus abençoe sempre sua vida incrível</span>, que Ele lhe dê<span> muitos anos de vida</span>, e que possamos <span>ficar velhinhos juntos</span>, vendo o <span>Ravi</span> e a <span>Amelí</span> crescerem e <span>construírem a família deles.</span> 💖
        <br>
        <br>
        <span>Eu te amo demais!</span> 💛✨</p>
    </div>
    <div class="prb">
      <img src="../../../assets/imgs/Confidencial/1740337207878.jpg" alt="">
      <p><span>Você é muito mais do que especial para mim... você é o meu tudo.</span> 💖 <br>
        Compartilhar a vida ao seu lado é o maior presente que eu poderia ter. Cada instante, cada sorriso, cada abraço... tudo com você se torna <span>mágico</span> e inesquecível. ✨

        <br><br>
        Hoje é o seu dia, e eu quero que você aproveite cada segundo — e claro, eu estarei bem aqui, ao seu lado, como sempre. ❤️<br>
        Pensei em uma forma de <span>tornar seu dia ainda mais especial</span>, e resolvi fazer aquele site que você tanto queria da <span>Barbie</span>... só que dessa vez, é para a <span>minha Barbie</span>, a mulher da minha vida. 💕
        <br><br>
        Pode ser algo simples, mas foi feito com <span>todo o meu amor.</span> <br>
        Feliz aniversário, <span>meu amor! </span> <br>
        Que você nunca se esqueça do quanto é <span>amada</span>, e de como o meu amor por você é <span>infinitas vezes maior que o universo.</span> <br>
        <span>Eu te amo, minha princesa. Hoje e sempre.</span> ❤️❤️ </p>
    </div>
  </div>
</ion-content>
